

// ===============  take in pixels, spit out rem value (just for fun)

@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

@import "mixins";

//================= Colors

$clr-text: hsl(238, 29%, 16%);
$clr-text-active: hsl(14, 88%, 65%);
$clr-divider: hsl(240, 5%, 91%);
$clr-text-primary: hsl(240, 6%, 50%);
$clr-text-secondary: hsl(237, 12%, 33%);
$clr-gradient-1: hsl(273, 75%, 66%);
$clr-gradient-2: hsl(240, 73%, 65%);
$clr-accordion-bg: hsl(0, 0%, 100%);
$shadow-main: rgba(0, 0, 0, 0.308);   
$gradient-bg: linear-gradient(90deg, $clr-gradient-1, $clr-gradient-2);

//================= Font

$font-main: 'Kumbh Sans', sans-serif;

//================= Font Weights

$weight-regular: 400;
$weight-bold: 700;

//================= Base

html{
    // overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

body{
    background: $gradient-bg;
    max-width: 100%;
    min-height: 0vh;
    font-family: $font-main;
    color: $clr-text;
    font-size: rem(13);
    line-height: rem(20);
    padding: rem(20);
}





.accordion{
    margin: rem(150) auto ;
    background-color: $clr-accordion-bg;
    max-width: rem(800);
    min-height: rem(400);
    border-radius: rem(20);
    display: flex;
    justify-content: space-between;
    // overflow: hidden;

    @include breakpoint-down(tablet){
        // overflow: visible;
        flex-direction: column;
    }


    &__illustration{
        flex: 1;
        background: url(../../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: rem(700) rem(700);
        background-position: rem(-370) rem(-210);

        @include breakpoint-down(tablet){
            background-size: rem(250) auto;
            background-position: center rem(-140);
        }

        img:first-of-type{
            position:absolute;
            width: rem(150);
            height: rem(150);
            top: rem(330);
            transform: translate(-50%);
            z-index: 10000;

            @include breakpoint-down(tablet){
                width: rem(100);
                height: rem(100);
                top: rem(135);
                left: 32% ;
                transform: translate(0);
            } 

            @include breakpoint-down(mobile){
                top: rem(135);
                left: 23%;
            } 

            @include breakpoint-down(mobile-mini){
                top: rem(135);
                left: 13%;
            } 

        }

        img:last-of-type{
            position: relative;
            transform: translateX(rem(-50)) translateY(rem(50));

            @include breakpoint-down(tablet){
                width: rem(250);
                left: 50%;
                transform: translateX(-50%) translateY(rem(-110));
            }   

        }

    }

    &__content{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: rem(20);
        padding: rem(50) rem(50) rem(50) 0;

        @include breakpoint-down(tablet){
            padding: 0 rem(50)  rem(50) rem(50);
            flex: 3;
        } 
    }

    &__sections{
        display: grid;
        gap: rem(10);
    }

    &__section{
        border-bottom:  1px solid $clr-divider;
        
        padding: rem(10) 0;
    }

    &__title{
        margin-top: rem(30);
        h1{
            font-size: rem(36);
            
        }

        @include breakpoint-down(tablet){
            margin-top: 0;
            text-align: center;
        } 
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        gap: rem(50);

        &:hover{
            cursor: pointer;
        }
        

        h4{
            font-size: rem(14);
            font-weight: $weight-regular;
            
            
        }

        img{
            width: rem(10);
            height: rem(8);
        }
    }

    &__body{
        
        padding:  rem(10) 0;

        &--hidden{
            display: none;
        }
    }

}

.icon-rotate {
    animation: spin 0.1s linear both;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(180deg);
      }
    }
}





